
#bbpress-forums {
    background: 0 0;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
    width: 80vw;
}

.bbpress-wrapper {
    background: 0 0;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
    width: 80vw;
}

.bbp-breadcrumb-home {
    color: #990F0F;
}

#bbpress-forums a {
    color: #990F0F;
}

.bbp-forum-title a{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
