
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    padding-top: 0px!important;
}

body {
    background-color: #1A1919!important;
    max-width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4.5em;
}

.rubrikBorderBottom {
    color: #990F0F;    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.25em;
    border-bottom: 3px solid #990F0F;
    margin-bottom: 1em;
    padding-bottom: 0.3em;
}

.rubrikBorderBottom a{    
    text-decoration: none;
    color: #990F0F;
}


/* ------------------------ Desktop ------------------------ */

.knapp {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #990F0F;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.5px;
    white-space: nowrap;
    text-decoration: none;
    width: fit-content;
    height: 2.75em;
    margin-top: 2em;
    margin-right: 1em;
    padding: 0.65em 0.5em 0.25em 0.5em;
    border-radius: 3px;
    border: 1px solid #990F0F;
    box-sizing: border-box;
    background-color: #E7DCD1;
}

.flex {
    display: flex;
}

.colFull {
    display: flex;
}

.col1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.col2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.alignBottom {
    justify-content: flex-end;
}

.alignRight {
    align-items: flex-end;
}

.alignLeft {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.justifyRight {
    display: flex;
    justify-content: flex-end;
}

.justifyLeft {
    display: flex;
    justify-content: flex-start;
}

.alignSelfLeft {
    align-self: flex-start;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.colorWhite {
    color: #F5F5F5;
}

.mb1 {
    margin-bottom: 1em;
}

.mb2 {
    margin-bottom: 2em;
}

.mt1 {
    margin-top: 1em;
}

.mt2 {
    margin-top: 2em;
}

/* margin top 48 px */
.mt3 {
    margin-top: 3em;
}

/* margin top 72 px */
.mt4 {
    margin-top: 4.5em;
}

.mr1 {
    margin-right: 1em;
}

/* margin right left 72 px*/
.mrl4 {
    margin-right: 4.5em;
    margin-left: 4.5em;
}

.pb2 {
    padding-bottom: 2em;
}

.pt2 {
    padding-top: 2em;
}

.p3 {
    padding: 3em;
}

.plr2 {
    padding-left: 2em;
    padding-right: 2em;
}

.br4 {
    border-radius: 4px;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.hero {
    display: flex;
    flex-direction: row;
}

.heroHeight {
    height: 5vh;
}

.h30vh {
    height: 30vh;
}

.beige {
    background: #E7DCD1;
}

.dashedBottom {
    border-bottom: 1px dashed #990F0F;
}

.frontpageContainer {
    display: flex;
    width: 100%;
    height: 80vh;
    padding: 0 72px;
}

.frontpageContainerLinks {
    display: flex;
    width: 100%;
    justify-content: center;
}

.frontpageLinks {
    display: flex;
    justify-content: center;
    margin-top: 4em
}

.frontpageLinks a{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background-color: #990F0F;
    margin: 1em;
    padding: 0.4em 0.8em;
    border-radius: 8px;
    white-space: nowrap;
}

.frontpageLinks ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.frontpageLinks li{
    justify-content: center;
    border: 2px solid #990F0F;
    background-color: #0a0a0a40;
    margin: 1em;
    border-radius: 8px;
}

.frontpageLinks .menu li{
    padding: 3em;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column
}

.omkkvriks::before {
    word-break: break-word;
    font-family: "Font Awesome 5 Free"; font-size: 6em; margin-bottom: 0.2em; color:#E7DCD1; content: "\f0eb";
  }

.aktuellt::before {
    word-break: break-word;
    font-family: "Font Awesome 5 Free"; font-size: 6em; margin-bottom: 0.2em; color:#E7DCD1; content: "\f06e";
  }


.medlemmar::before {
    word-break: break-word;
    font-family: "Font Awesome 5 Free"; font-size: 6em; margin-bottom: 0.2em; color:#E7DCD1; content: "\f118";
  }

.verkstader::before {
    word-break: break-word;
    font-family: "Font Awesome 5 Free"; font-size: 6em; margin-bottom: 0.2em; color:#E7DCD1; content: "\f192";
  }

.kontakt::before {
    word-break: break-word;
    font-family: "Font Awesome 5 Free"; font-size: 6em; margin-bottom: 0.2em; color:#E7DCD1; content: "\f0e0";
  }

.forumblob::before {
    word-break: break-word;
    font-family: "Font Awesome 5 Free"; font-size: 6em; margin-bottom: 0.2em; color:#E7DCD1; content: "\f27a";
  }

.map {
    width: 100%;
}

.lineRed { 
    width: 90%;
    border-top: 8px solid #990F0F;
}

.lineBeige { 
    width: 90%;
    border-top: 8px solid #E7DCD1;
}

.mapTextCitiesContainer li {
    display: inline-block;
}

.cityList {
        float: left;
        clear: left;
    }

.mapTextCities {
    color: #E7DCD1;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    white-space: pre-line;
    text-decoration: none;
    word-wrap: break-word;
}

.mapContainer{
    display: flex;
    width: fit-content;
}
.mapText{
    width: 25%;
    align-items: center;
}

.frontpageTitle {
    font-weight: 700;
    font-style: normal;
    font-size: 64px!important;
    line-height: 80px;
    margin-top: 108px;
    color: #990F0F;
}

.frontpageSubtitle {
    font-weight: 400;
    font-style: normal;
    font-size: 42px!important;
    line-height: 64px;
    margin-bottom: 16px;
    color: #990F0F;
}

.menu-sidfotsmeny-container  {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
}

#menu-sidfotsmeny {
    display: flex;
    flex-direction: column;
}

.menu-sidfotsmeny-container .menu a {
    font-size: 1em;
    line-height: 2em;
}

/* ------------------------ Header ------------------------ */

.topHeader {
    display: flex;
    align-items: center;
    padding: 0 72px 0 72px;
    margin: 0 auto;
    max-width: 100%;
    height: 104px!important;
    left: 0%;
    right: 0%;
    border-bottom: 0.5px solid #990F0F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #0A0A0A!important;
    overflow: hidden;
    z-index: 99;
}

.menyText {
display: none;
}

.medlem {
    text-align: center;
    background-color: #990F0F;
    width: 7em;
    border-radius: 8px;
}

.headerPosition {
    position: relative !important;
}

.header-logo > a > img  {
    /* width: 100%; */
    object-fit: cover;
}


div.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    color: white;
    padding: 15px;
    width: 100%;
}

div.header-navitems {
    display: flex;
    flex-direction: row;
}

hr {
    border: 1px solid #026747;
}

#hrStart {
    border: 1px solid #fff;
}

div.header-span {
    display: flex;
    flex-direction: row;
    min-width: 85%;
    min-height: 3%;
    background-color: #fff;
}

#headernavitems {
    font-size: 24px;
    color: #F5F5F5;
    font-weight: 400;
}

#sidebarMenu {
    display: none;
}

#menu-primary-menu-1 ul {
    padding-left: 0!important;
}

.menu {
    padding-left: 0!important;
    margin-top: 0;
}

.menu ul {
    margin: 0.5em 0 0.85em 0;
    list-style-type: none;
    list-style: none;
    display:inline-block;   
}
.menu li {
    padding: 0;
    display: inline-block;
} 

.menu a { 
    color:#F5F5F5;    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 46px;
    text-decoration: none;
    margin-right: 0.5em;
    margin-left: 0.5em;
}


.mobileInput {
    display: none;
}


/* ------------------------ Rubriker på alla sidor ------------------------ */


.pageLineRed { 
    width: 100%;
    border-top: 8px solid #990F0F;
}

.pageLineBeige { 
    width: 100%;
    border-top: 8px solid #E7DCD1;
}

.heroTitle {
    font-weight: 600;
    font-style: normal;
    font-size: 42px!important;
    line-height: 64px;
    margin-bottom: 16px;
    color: #E7DCD1;
}

i.icon {
    font-size: 2.4rem;
}

/* ------------------------ Aktuellt ------------------------ */

.aktuelltKort {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    padding: 3em;
    background: #E7DCD1;
    border-radius: 4px;
}

.postLink {
    font-size: 20px;
    color: #990F0F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    height: 48px;  
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 0.3em 1em;
    border: 1px solid #F5F5F5;
    }

.postLink a{
    text-decoration: none;
    color: #990F0F;
}

/* ------------------------ Forum ------------------------ */


#bbpress-forums {
    background: 0 0;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
    width: 90vw;
}

/* #bbpress-forums a {
    font-size: 12px;
} */

.bbpress-wrapper {
    background: 0 0;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
    width: 90vw;
}

.entry-title {
    text-align: center;
}

.bbp-breadcrumb-home {
    color: #990F0F;
}


/* .bbp-forum-title a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
} */

.div.bbp-template-notice.info {
    background-color: #F5F5F5;
    border: #990F0F 1px solid;
}

div.bbp-template-notice {
    border-radius: 4px;
    border: #990F0F 1px solid;
}
/* ------------------------ Kontakt ------------------------ */

.wpcf7 label {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #E7DCD1;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    background-color: #F5F5F5;
    width: 100%;
    margin: 0.6em 0 1em 0;
}

.wpcf7 input[type="submit"] {
    color: #E7DCD1;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    background: #990F0F;
    padding: 8px 20px 8px 8px;
    margin: 0;
    border: none;
    border-radius: 8px;
    width: 20%;
    text-transform: uppercase;
    cursor: pointer;
}

.wpcf7 input:hover[type="submit"] {
    background: #E7DCD1;
    color: #990F0F;
}

.wpcf7 input:active[type="submit"] {
    background: #1A1919;
}

/* ------------------------ Om KKV ------------------------ */

.aboutMain {
    display: flex;
    flex-direction: column;
    background-color: #E7DCD1;
    margin: 32px 72px 32px 72px;
    border-radius: 4px;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 72px 32px 72px;
}

.aboutText h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    color: #1A1919;
    margin-bottom: 2em;
    margin-top: 2em;
}

.aboutText p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    color: #1A1919;
}

.aboutText li {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    color: #1A1919;
}



/* ----- Verkstäder samlingssida ----- */


.verkstaderContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 48px;
}

.verkstadskortContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.verkstadskort {
    display: flex;
    width: 48%;
    flex-direction: column;
    background-color: #E7DCD1;
    border-radius: 4px;
    padding: 2em;
    margin: 0.5em;
}


/* ----- städer dropdown ----- */

.morecities {
    width: 200px;
    height: 48px;
    color:#F5F5F5;    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 0.3em 1em;
    border: 1px solid #F5F5F5;
    background-color: #1A1919;
}
.cityDropdown {
    display: flex;
    margin-bottom: 3em;
}
.dropdown {
    display: flex;
    flex-direction: row;
}

.dropdown select {
    width: 200px;
    height: 48px;
    color:#F5F5F5;    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 0.6em;
    margin-right: 0;
    border: 1px solid #F5F5F5;
    background-color: #1A1919;
  }

  .dropdown select label {
      margin-right: 0.5em;
  }
  .dropdown input {
    width: 100px;
    color: #F5F5F5;    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 0.5em;
    cursor: pointer;
    border: 1px solid #F5F5F5;
    background-color: #1A1919;
  }

  /* ----- Single verkstad ----- */

.mainBeige {
    display: flex;
    flex-direction: column;
    margin: 72px 72px 0 72px;
    background: #E7DCD1;
    border-radius: 4px;
}

.singleVerkstadCol1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-right: 1em;
    padding: 0;
}

.singleVerkstadCol2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0;
    padding: 0;
}

.singleVerkstadFull {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 2em;
    padding: 1em 0 2em 0;
    border-bottom: 1px dashed #990F0F;
}


.contactItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 0.25em;
    padding: 0;
}

.contactItems a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #0A0A0A;
}

.singleVerkstadImg {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
}

  .singleVerkstadImg img {
    object-fit: scale-down;
    width: -webkit-fill-available;
  }

p {
    color: #0A0A0A;
}

/* ----- Verkstadstaggar ----- */

.tagsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2em 0 1em 0;
}

.weOffer {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    color: #990F0F;
    margin-bottom: 1em;
}

.spacer {
    height: 32px;
}

.spacer1em {
    height: 1em;
}

.contactBox {
    width: 50%;
    border-top: 1px solid #1A1919;
    border-bottom: 1px solid #1A1919;
    padding: 8px;
}

.verkstadsTaggar a {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #990F0F;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.5px;
    white-space: nowrap;
    text-decoration: none;
    width: fit-content;
    height: 2.75em;
    margin: 0.2em;
    padding: 0.65em 0.5em 0.25em 0.5em;
    border-radius: 3px;
    border: 1px solid #990F0F;
    box-sizing: border-box;
    background-color: #E7DCD1;
}

.verkstadsTaggar a:hover {
    background-color: #990F0F;
    color: #E7DCD1;
}
